body {
    background-color: #f8edeb;
    transition: background-color 1000ms linear;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    margin: 10px;
    background-color: rgb(179, 100, 27);
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid rgb(179, 100, 27);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: rgb(110, 54, 2);
    border-color:  rgb(110, 54, 2);
}

p {
    font-size: 20px;
}

